---
const { url, data } = Astro.props;
const slug = url.split("/").at(-1);
---

<a href={url} data-title={data.title} data-tags={data.tags} class="card">
  <div class="overflow-hidden aspect-square bg-gray-200">
    <div class="cover overflow-hidden aspect-square flex flex-row justify-between w-full">
      <img src={`/assets/${slug}-1.png`} class="h-full" alt="1"/>
      <img src={`/assets/${slug}-2.png`} class="h-full" alt="2"/>
    </div>
  </div>
  <div class="flex flex-col justify-between items-start py-2 gap-1">
    <h3 class="text-2xl text-black font-semibold">{data.title}</h3>
    <div class="bg-black text-white py-1 px-3 text-xs capitalize">{data.category}</div>
  </div>
</a>
